In [2]:
my_list = [10, 20, 30, 40, 50]
print(my_list[0])  
print(my_list[2])  
print(my_list[-1]) 
my_tuple = (1, "apple", 3.14, True, "banana")
print(my_tuple[1]) 
print(my_tuple[4])  
print(my_tuple[-2]) 


my_dict = {"name": "John", "age": 25, "city": "New York", "job": "Engineer", "country": "USA"}
print(my_dict["name"])  
print(my_dict["age"])  
print(my_dict["city"])

10
30
50
apple
banana
True
John
25
New York